@import "./vars";

/* declaro mixins que voy a usar en los distintos bodys */

@mixin textoConstruccion{
    height:100%;
    width: 100%;
    background-color: #BB8466;
    padding: 40px;
}

@mixin imgsB{
    padding: map-get($paddings,S);
    margin: auto;
    display: block;
    height: 220px;
    width: 220px; 
}

@mixin imgsS{
    margin: auto;
    display: block;
    height: 150px;
    width: 150px;
}

@mixin bordecito{
    border-right: map-get($borders,azulchico);
    border-left: map-get($borders,azulchico);
}

/* Empieza el body del Index */

.bodyIndex {
    border-top: map-get($borders, marron);
    background-color: $azul-oscuro;
    border-bottom: map-get($borders, piel);
    
    &Izq {
      border-left: map-get($borders, azul);
      height: 550px;
      margin: 0,5rem;
      padding: map-get($paddings, L);
      text-align: center;
      background-color: $tostado; 
  
      &__imagenMartinybelen {
          height: 200px;
          width: 200px;
          display: block;
          margin: auto; }
  
      &__titulo {
          padding-top: 100px;
          color: $piel-clarito; }
        
      &__texto {
          font-size: map-get($fonts,S);
          color: $piel-clarito; }
  
      &__top {
          padding: map-get($paddings,M);
          background-color: $piel-oscuro;
          border-bottom: $piel-medio;
          font-size: map-get($fonts,L);
          border-left: map-get($borders, azul);
        }
  
      &__bottom {
          border-left: map-get($borders, azul);
          height: 270px;
          background-color: $piel-oscuro;
          margin: auto;
          padding: map-get($paddings,L);
          display: flex; }
  
      &__imagenMartin {
          @include imgsS; }
        
      &__imagenBelen {
          @include imgsS; }
  }
    
    &Der {
      @extend .bodyIndexIzq;
      border-left:none;
      border-right: map-get($borders,azul);
      justify-content: space-around;
  
      &__titulo {
          color: $tostado; }
  
      &__top {
          border-right: map-get($borders,azul);
          height: 240px;
          background-color: $piel-oscuro;
          text-align: center;
          padding: map-get($paddings,XL); }
  
      &__1img {
        @include imgsB;
     }
        
      &__2img {
          @include imgsB;
        }
        
      &__bottom {
          border-right: map-get($borders,azul);
          padding:map-get($paddings,M);
          background-color: $piel-oscuro;
          height: 270px;
          text-align: center;
          font-size: map-get($fonts,S);
          padding-top: 120px;
          padding-bottom: 100px; }
        
      &__linkBottom {
          color: $tostado; }  
      }
  }
  .color-change-3x {
    -webkit-animation: color-change-3x 5s linear infinite alternate both;
    animation: color-change-3x 5s linear infinite alternate both; }
  
  @-webkit-keyframes color-change-3x {
    0% {
      background: $piel-oscuro; }
    0% {
      background: $tostado; }
    100% {
      background: $piel-oscuro; } }
  
  @keyframes color-change-3x {
    0% {
      background: $piel-oscuro; }
    50% {
      background: $tostado; }
    100% {
      background: $piel-oscuro; } 
}

.bodyConstruccion{
    padding: 50px 60px 50px 60px;
    border-top: solid 20px #E7A588;
    border-right: solid 20px #3E799B;
    border-left: solid 20px #3E799B;
    border-bottom: solid 20px#E7A588;
    margin: 0,5rem;
    height:auto;
    background-color: #4B4237;
        
&__imagen1{
    height:100%;
    width: 100%;
}

&__imagen2{
    height:100%;
    width: 100%;
}

&__imagen3{
    height:100%;
    width: 100%;
}

&__texto1{
    @include textoConstruccion;
}
&__texto2{
    @include textoConstruccion;
}

&__texto3{
    @include textoConstruccion;
}

&__section{
    padding:40px 40px 40px 40px;
    background-color:#3E799B;
}
}

/* Responsive del body del index */

@media (max-width: 768px) {
    .bodyIndexIzq{
        border-right: $azul-oscuro solid 20px;
        padding: 15px 15px 15px 15px;
        font-size: 20px;
        height:500px;

        &__top{
            border-right: map-get($borders, azul);
        }
        
        &__imagenMartinybelen {
            @include imgsS;
         }

        &__bottom{
            border-right: $azul-oscuro solid 20px;
            padding: 15px 15px 15px 15px;
        }
        &__imagenMartin {
            margin: auto;
            display: block;
            height: 100px;
            width: 100px; }
          
        &__imagenBelen {
            margin: auto;
            display: block;
            height: 100px;
            width: 100px; }
    }
    .bodyIndexDer{
        border-left: $azul-oscuro solid 20px;
        padding: 15px 15px 15px 15px;

        &__top{
            display:none;
        }

        &__bottom{
            border-left: $azul-oscuro solid 20px;
            padding: 15px 15px 15px 15px;
            height:15vh;
            font-size:20px;
        }
    }

    /* Termina el body del index y empieza el body de la pagina construccion */

    .bodyConstruccion{
        padding: 15px 5px 15px 5px;
        
        &__imagen1{
           border-right:map-get($borders, marronchico);
           border-left: map-get($borders, marronchico);
           border-bottom: map-get($borders, marronchico);
        }
        
        &__imagen2{
            border-right: map-get($borders, marronchico);
           border-left: map-get($borders, marronchico);
           border-top: map-get($borders, marronchico); 
        }
        
        &__imagen3{
            border-right:map-get($borders, marronchico);
           border-left:map-get($borders, marronchico);
           border-bottom: map-get($borders, marronchico);
        }
        
        &__texto1{
            border-right: map-get($borders, marronchico);
           border-left: map-get($borders, marronchico);
           border-top:map-get($borders, marronchico);
        }
        &__texto2{
            border-right: map-get($borders, marronchico);
           border-left: map-get($borders, marronchico);
           border-bottom:map-get($borders, marronchico);
        }
        
        &__texto3{
            border-right:map-get($borders, marronchico);
            border-left: map-get($borders, marronchico);
            border-top: map-get($borders, marronchico);
        }
        }
    }

/* Termina el body de construccion y empieza el body de la pagina recorrido. */

.carousel-control-prev-icon{
    background-color:black;
    height:40px;
    width: 40px;
}
.carousel-control-next-icon{
    background-color:black;
    height: 40px;
    width:40px;
}

.bodyRecorrido{
    background-color: $verde;
    padding:map-get($paddings, L);
    border-right: map-get($borders, tostadote);
    border-left: map-get($borders, tostadote);
    border-top: map-get($borders, tostadote);
    border-bottom: map-get($borders, tostadote);
        
    &__recorridoHoy{
            background-color: $piel-oscuro;
            padding: map-get($paddings,L);

            &-titulo{
                height:60px;
                text-align: center;
                font-size:map-get($fonts, M);
                color:$tostado-oscuro;
            }
        }
    &__recorridoFuturo{
            background-color: $tostado-oscuro;
            padding:map-get($paddings, L);

            &-contenedorDer{
                padding: map-get($paddings, L);
                justify-items: center;
            }

            &-titulo{
                height:60px;
                text-align: center;
                color: $piel-oscuro;
                font-size: map-get($fonts, M);
            }
            &-texto{
                margin:1rem;
                padding: map-get($paddings,L);
                background-color: $tostado-medio;
                color: $piel-oscuro;
                font-size: map-get($fonts, S);
            }
            &-contenedorButton{
                margin:1rem;
                align-items: center;
            }
            &-button{
                justify-self:center;
                background-color: $piel-oscuro;
                color: $tostado-oscuro;
                height: 100px;
                width:200px;
            }
            }
        }

/* responsive del html recorrido */

@media (max-width: 768px) {
    .bodyRecorrido{
        &__recorridoHoy{

            padding:map-get($paddings, S);

            &-Arg{
                padding:map-get($paddings, S);
            }
            &-Carousel{
                padding:map-get($paddings, S);
            }
        }
        &__recorridoFuturo{
            padding:map-get($paddings, S);
            &-america{
                padding: map-get($paddings, S);
            }

            &-contenedorDer{ 
                padding: map-get($paddings, S);
                width:100%;
            }
            &-texto{
                margin:0px;
                padding: map-get($paddings,S);
            }
            &-contenedorButton{
                margin:0rem;
                padding: map-get($paddings,XS );
            }
        }
    }
}


/* Termina el body de la pag recorrido y empieza el body de la pagina mis-papas. */
        
.bodyPapas{
    background-color: $azul-oscuro;
    &__belenrow{
        background-color: $piel-clarito;
        border-top:map-get($borders, piel);
        border-left:map-get($borders, azul);
        border-right:map-get($borders, azul);
        border-bottom:map-get($borders, piel);
        padding:0;
        }
    &__martinrow{
        background-color: $piel-medio;
        border-top:map-get($borders, pielote);
        border-left:map-get($borders, azul);
        border-right:map-get($borders, azul);
        border-bottom:map-get($borders, pielote);
        padding:0;
        }
    &__martinybelenrow{
        background-color: $piel-oscuro;
        border-top:map-get($borders, marron);
        border-left:map-get($borders,azul);
        border-right:map-get($borders,azul);
        border-bottom:map-get($borders,marron);
        padding:0;
        }
    &__belencol{
        @include bordecito();
        padding:0;
        }
    &__martincol{
        @include bordecito();
        padding:0;
        }
    &__martinybelencol{
        @include bordecito();
        padding:0;
        }
    &__belentxt{
        text-align: center;
        color: $azul-oscuro;
        padding: map-get($paddings, S);
        }
    &__martintxt{
        text-align: center;
        color: $azul-oscuro;
        padding: map-get($paddings, S);
        }
    &__martinybelentxt{
        text-align: center;
        color: $azul-oscuro;
        padding: map-get($paddings, S);
        }
    }
/* responsive del html mis-papas" */

    @media (max-width: 768px) {

        .bodyPapas{
            &__belencol{
                height: 40vh;
                padding: map-get($paddings, M );
            }
            &__martincol{
                height: 40vh;
                padding: map-get($paddings, M );
            }
            &__martinybelencol{
                height: 40vh;
                padding: map-get($paddings, M );
            }
            &__belentxt{
                background-color: $azul-oscuro;
                color: $piel-clarito;
            }
            &__martintxt{
                background-color: $azul-oscuro;
                color: $piel-medio;
            }
            &__martinybelentxt{
                background-color: $azul-oscuro;
                color: $piel-oscuro;
            }
            &__belencoltxt{
                background-color: $azul-oscuro;
            }
            &__martincoltxt{
                background-color: $azul-oscuro;
            }
            &__martinybelencoltxt{
                background-color: $azul-oscuro;
            }
            &__belenrow{
                border-left: solid 20px $piel-clarito;
                border-right:solid 20px $piel-clarito;
                }
            &__martinrow{
                border-left: solid 20px $piel-medio;
                border-right:solid 20px $piel-medio;
                }
            &__martinybelenrow{
                border-left: solid 20px $piel-oscuro;
                border-right:solid 20px $piel-oscuro;
                }
        }
    }

/* Termina el body de la pag mis-papas y empieza el body de la pagina viaja-conmigo. */

.bodyViajarjuntos{
    background-color: $tostado;
    padding:map-get($paddings, L);
    border-left: map-get($borders,tostadote);
    border-right: map-get($borders,tostadote);

    &__titulo{
        font-size: map-get($fonts,L);
        color: $tostado-oscuro;
        text-align: center;
    }

    &__rowtop{
        background-color: $piel-oscuro;
        padding: map-get($paddings,M );
        border-top:map-get($borders, azul);
        border-right:map-get($borders, azul);
        border-left:map-get($borders, azul);
    }

    &__rowmid{
        background-color: $piel-oscuro;
        padding: map-get($paddings,S);
        border-right:map-get($borders, azul);
        border-left:map-get($borders, azul);
    }

    &__rowbottom{
        background-color: $piel-oscuro;
        padding: map-get($paddings,S);
        border-bottom:map-get($borders, azul);
        border-right:map-get($borders, azul);
        border-left:map-get($borders, azul);
    }

    &__txt{
        font-size: map-get($fonts,S);
        color: $tostado-oscuro;
        padding: map-get($paddings,XL);
    }

    &__col{
        background-color: $piel-medio;
    }
    &__img{
        padding:0;
        margin:0;
    }
}

/* responsive del html Viaja-conmigo */

@media (max-width: 768px) {
    .bodyViajarjuntos{
        padding:map-get($paddings, S);
        &__titulo{
            color: $tostado-oscuro;
            text-align: center;
            font-size: map-get($fonts,M);
        }
        &__img{
            height: 45vh;
            width:100%;
            border-right:map-get($borders, pielchico);
            border-left:map-get($borders, pielchico );
            border-bottom:map-get($borders, pielchico );
        
        }
        &__txt{
            font-size: map-get($fonts,S);
            color: $tostado-oscuro;
            padding: map-get($paddings,S);
        }
    }
}